<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div *ngIf="plugin !== undefined" fxFlex="90%">
    <mat-card style="margin-top: 20px" class="card-plugin">
      <mat-card-header  class="custom-card">
        <mat-card-title class = "font_style">{{plugin.creatorName}}</mat-card-title>
        <mat-card-subtitle style="color: white;">Vendor : {{ plugin.vendor.name + ' ' + plugin.vendor.url }}</mat-card-subtitle>
      </mat-card-header>
      <img style="margin-left: auto; margin-right: auto; display:block; max-width: 40%;
      height: auto;"
        mat-card-image src="{{plugin.image}}">
      <mat-card-content fxLayout="colmun wrap" fxLayoutWrap>
        <h4>Short description</h4>
        <p fxFlex="100%" class = "font_description">
          {{plugin.shortDescription}}
        </p>
        <h4>Description</h4>
        <p fxFlex="100%" class = "font_description">
          {{plugin.description}}
        </p>
        <h4>Controls</h4>
        <table *ngIf="plugin.controls !== undefined && plugin.controls.length != 0" mat-table [dataSource]="plugin.controls" fxFlex="100%" class = "font_table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="default">
            <th mat-header-cell *matHeaderCellDef> Default </th>
            <td mat-cell *matCellDef="let element"> {{element.default}} </td>
          </ng-container>
          <ng-container matColumnDef="min">
            <th mat-header-cell *matHeaderCellDef> Min </th>
            <td mat-cell *matCellDef="let element"> {{element.min}} </td>
          </ng-container>
          <ng-container matColumnDef="max">
            <th mat-header-cell *matHeaderCellDef> Max </th>
            <td mat-cell *matCellDef="let element"> {{element.max}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button *ngIf="user.isConnected && user.actualUser._id === plugin.vendor._id" (click)="deletePlugin(plugin)">
            <mat-icon color="accent">delete_sweep</mat-icon>
          </button>
          <a [routerLink]="['/plugins/update', plugin._id]">
            <button mat-button *ngIf="user.isConnected && user.actualUser._id === plugin.vendor._id">
              <mat-icon color="accent">edit</mat-icon>
            </button>
          </a>
        </mat-card-actions>
    </mat-card>
  </div>
</div>