<div fxLayout="colmun wrap" fxLayoutWrap>
  <p fxFlex="100%" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
    <mat-form-field class="white" fxFlex="49.50%">
      <input matInput type="text" [(ngModel)]="_plugin.creatorName" placeholder="Creator Name">
    </mat-form-field>
    <mat-form-field class="white" fxFlex="49.50%">
      <input matInput type="text" [(ngModel)]="_plugin.shortDescription" placeholder="Short Description">
    </mat-form-field>
  </p>

  <p fxFlex="100%" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
    <mat-form-field class="white" fxFlex="49.50%" fxFlex="100%">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let category of _plugin.categories" [selectable]="selectable" [removable]="removable"
          (removed)="remove(category)">
          {{category}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Categories..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addCategory($event)">
      </mat-chip-list>
    </mat-form-field>
  </p>
  <div fxFlex="100%" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
    <mat-form-field class="white" fxFlex="48.50%">
      <textarea style="height: 200px;resize: none;" matInput [(ngModel)]="_plugin.description" placeholder="Description"></textarea>
    </mat-form-field>
    <div fxFlex="49.50%" fxLayout="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
      <input style="display: none" type="file" (change)="onSelectFile($event)" #fileInput />
      <div fxLayoutAlign="center">
        <button mat-flat-button (click)="fileInput.click()" color="primary">Select Image</button>
      </div>
      <div [style.background-image]="'url(' + url + ')'" style="height: 200px; background-repeat: no-repeat; background-size: contain; background-position: center;"></div>
    </div>
  </div>
  <h4>Controls</h4>
  <div fxFlex="100%" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
    <mat-form-field class="white" fxFlex="23.2%"><input matInput type="text" [(ngModel)]="control.name" placeholder="name"></mat-form-field>
    <mat-form-field class="white" fxFlex="23.2%"><input matInput type="number" [(ngModel)]="control.default" placeholder="default"></mat-form-field>
    <mat-form-field class="white" fxFlex="23.2%"><input matInput type="number" [(ngModel)]="control.min" placeholder="min"></mat-form-field>
    <mat-form-field class="white" fxFlex="23.2%"><input matInput type="number" [(ngModel)]="control.max" placeholder="max"></mat-form-field>
  </div>
  <div fxFlex="100%" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
    <button mat-flat-button [disabled]="!control.name || !control.default || !control.min || !control.max" (click)="onAdd()" color="primary">Add</button>
  </div>
  <table mat-table [dataSource]="_plugin.controls" *ngIf="_plugin.controls.length > 0" fxFlex="100%">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="default">
      <th mat-header-cell *matHeaderCellDef> Default </th>
      <td mat-cell *matCellDef="let element"> {{element.default}} </td>
    </ng-container>
    <ng-container matColumnDef="min">
      <th mat-header-cell *matHeaderCellDef> Min </th>
      <td mat-cell *matCellDef="let element"> {{element.min}} </td>
    </ng-container>
    <ng-container matColumnDef="max">
      <th mat-header-cell *matHeaderCellDef> Max </th>
      <td mat-cell *matCellDef="let element"> {{element.max}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="removeControl(element)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div fxFlex="100%" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 20px;">
    <button mat-flat-button (click)="validForm()" cdkFocusInitial color="primary" [disabled]="!_plugin.creatorName || !_plugin.shortDescription || !_plugin.description">
      {{btnLabelValidate}}
    </button>
  </div>
</div>