/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    background-color: #2c2f30;
}

.full-screen-modal .mat-dialog-container {
    max-width: none;
}

table.mat-table{
    background-color: #3F515F;
}

table.mat-table th.mat-header-cell{
    font-size: 16px;
    color: #1e88e5;
    border-bottom-width: 4px;
    border-bottom-color: rgba(30,136,229, 0.5);
}

table.mat-table td.mat-cell{
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.white .mat-form-field-label{
    color:white !important;
}

.white .mat-form-field-underline{
    background-color: white !important;
}

.white .mat-form-field-ripple{
    background-color: white !important;
}

.white .mat-input-element{
    caret-color: white;
}