@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-grey, 900);
$custom-accent:  mat-palette($mat-blue, 600);
$custom-warn: mat-palette($mat-red, 600);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);